{% extends "layout.html" %}
{% block content %}
{% for article in articles.items %}
<article class="content-section">
    <div class="article-metadata">
        <img src="http://tinygraphs.com/spaceinvaders/{{ article.author.username }}?theme=bythepool&numcolors=4&size=100&fmt=svg" alt="" class="img-thumbnail img-fluid rounded-circle" >
        <a href="{{ url_for('user_articles', username=article.author.username) }}" class="mr-2 text-white">{{ article.author.username }}</a>
        <small class="text-dark">{{ article.date_posted.strftime('%Y-%m-%d') }}</small>
    </div>
    <h2><a href="{{ url_for('article', article_id=article.id) }}" class="article-title text-white">{{ article.title }}</a></h2>
    <p class="article-content" style="word-wrap: break-word;">{{ article.content[0:500] }}...</p>
</article>
<hr style="background-color: white;">
{% endfor %}
{% for page_num in articles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if title=='Dashboard' %}
{% if articles.page==page_num %}
<a href="{{ url_for('dashboard', page=page_num) }}" class="btn btn-info mb-4">{{ page_num }}</a>
{% else %}
<a href="{{ url_for('dashboard', page=page_num) }}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
{% endif %}
{% else %}
{% if articles.page==page_num %}
<a href="{{ url_for('feed', page=page_num) }}" class="btn btn-info mb-4">{{ page_num }}</a>
{% else %}
<a href="{{ url_for('feed', page=page_num) }}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
{% endif %}
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}