{% extends "layout.html" %}
{% block content %}
{% block css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
{% endblock css %}
<div class="content-section container shadow">
    <form action="" method="POST" name="form">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group"><b>
                <label for="" class="form-control-label">Title</label> <br></b>
                <input style="color: black;width: 100%;" type="text" name="title" required>
            </div>
            <div class="form-group"><b>
                <label for="" class="form-control-label">Content</label><br></b>
                    <textarea style="width: 100%;" id="summernote" name="editordata" required></textarea>
            </div>
        </fieldset>
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="Submit">
            <br><br>
        </div>
    </form>
</div>
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js" defer></script>
{% endblock js %}
<script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
</script>
{% endblock content %}
